body{
background-color:#EEF0F2 ;
margin:2% 2% 2% 2%;
}
header{
position:static;
padding:0% 2% 0% 2%;
background-color:#ffffff;
margin:-2% -2% 0% -2%;
width:100%;
height:fit-content;
box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
}

nav a{
display: inline-block;
padding:0px 40px 0px 0px;
text-decoration:none;
font-family:Segoe Print,Monotype Corsiva;
}
#contactUs{
bottom:0;
background-color:#000000;
font-family: Calibri;
width: 105%;
text-align:center;
color:#ffffff;
margin:0% -2% -2% -2%;
}

#middle1{
display:block;
width:100%;
 
}

#electrical{
width:90%;
padding: 5% 0% 0% 0%; 

}

@media screen  and (min-width:650px)
{
header{
position:static;
padding:0% 2% 0% 2%;
background-color:#ffffff;
margin:-2% -2% 0% -2%;
width:100%;
height:fit-content;
box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
}
#electrical{
display:inline-block;
width:45%;
padding: 5% 0% 0% 1%; 
}
#middle1{
display:inline-block;
width:50%;
padding:5% 0% 0% 0%;
vertical-align: middle; 
}
.heading{
width:55%;
font-size: 40px;
font-family:Segoe UI;
margin:0% 0% 0% 8%;
padding: 12% 0% 0% 20%;
}
.normal{
display:inline-block;
width :55%;
margin:3% 0% 10% 8%;
color: #3E3E3E ;
font-size: 20px;
font-family: Calibri;
padding:0% 0% 10% 20%;
}
#contactUs{
bottom:0;
background-color:#000000;
font-family: Calibri;
width: 105%;
text-align:center;
color:#ffffff;
margin:0% -2% -2% -2%;
padding: 1% 0% 1% 0%;
}
footer{
   position:absolute;
   bottom:-150px;
   left:0px;
   right:0px;
  
}
} 
